@model IEnumerable<Trabalho_PUC.Models.User>

@{
    ViewData["Title"] = "User List";
}

<style>
    body {
        background-color: #f4f4f9;
        color: #333;
    }

    h1 {
        color: #49108B;
    }

    .btn-primary {
        background-color: #49108B;
        border-color: #49108B;
    }

        .btn-primary:hover {
            background-color: #38106d;
            border-color: #38106d;
        }

    .table th, .table td {
        border: 1px solid #49108B;
    }

    .table th {
        background-color: #49108B;
        color: #fff;
    }

    .table td {
        background-color: #f8f9fa;
    }
</style>

<h1>Lista de membros</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th>
                CPF
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perfil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
